.container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.logo {
  margin: 2rem;
}
.links-social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.zoom {
  transition: transform 0.2s;
}
.zoom:hover {
  transform: scale(2);
}
.social {
}
